<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 검색바 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Bootstrap search box or search panel like amazon.com"/>
    <meta name="robots" content="index, follow"/>
    <meta name="author" content="Satyendra Kumar Singh"/>


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- 구글 폰트 api -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    
    <!-- pagination -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- 아이콘 api -->
    <script src="https://use.fontawesome.com/releases/v6.4.2/js/all.js"></script>
    <title>DP Travel</title>

    

<!-- Costom CSS -->
    <style>

.time {
			display: inline-block;
		}

body {
            background-color: #FFDFDE;          
        }

* {
    font-family: 'Noto Sans KR', sans-serif;
    color: #6A7BA2;
}


table.table th,
table.table td {
    border: none;
}

table.table th {
    border-top: 2px solid #dee2e6;
}
    
.error-message {
    text-align: center; /* 텍스트 가운데 정렬 */
    margin: 20px; /* 상하좌우 여백 조절 */
    padding: 10px; /* 내부 여백 조절 */
    border: 1px solid #ff0000; /* 테두리 스타일 및 색상 설정 */
    background-color: #ffeeee; /* 배경색 설정 */
    font-size: 20px;
}

/* 검색바 css */
.Tag.Container {
    text-align: center;
}

.Tag.Container button {
    margin: 5px; /* 여백을 조절하려면 이 값을 조정하세요. */
    display: inline-block;
}

.container{
    margin-top:5%;
  }
  /* Style to create scroll bar in dropdown */ 
  .scrollable-dropdown{
      height: auto;
      max-height:320px;  /* Increase / Decrease value as per your need */
      overflow-x: hidden;
  }
h2 {
    
    font-size: 2rem;
	padding: 0;
	margin: 15px 0 5px 5px;
	color: black;
    font-weight: bold;

}
h3 {
	font-size: 1.4rem;
	padding: 0;
	margin: 0 0 5px 5px;
	color: darkred;
}
p {
	padding: 0;
	margin: 0;
	font-size: 0.7rem;
	color: graytext;
    overflow: hidden; /* 넘치는 부분을 감출 수 있도록 설정 */
    text-overflow: ellipsis; 
}

h4 {
	padding: 0;
	margin-top: 10px;
	font-size: 0.9rem;
	color: graytext;
    
}
.more-link:hover {
    color: darkblue;
    text-decoration: bold;
}

.infobox{
    text-align: right;
    margin: 0;
    padding: 0;

}
span {
    font-size: 0.9rem;
}
.swiper-container {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}

.swiper-slide {
	width: 400px;
	height: 500px;
	padding: 5px;
    border-radius: 4px;
}
.swiper-head {
    background-color: #fff;
    width: 100%;
    height: 40%;
}

.swiper-content {
    background-color: #fff;
    width: 100%;
    height: 60%;
    padding: 10px;
}
.swiper-container .slide-link {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 링크의 색상을 상속받음 */
}
#Search .form-group select,
#Search .form-group input,
#Search .form-group button {
    height: 40px; /* 원하는 높이로 조정 */
    margin: 0px; /* 원하는 여백으로 조정 */
}

#Search .form-group select {
    flex: 1; /* 남은 공간을 균등하게 나눠가짐 */
}
/* 태그 버튼 스타일 */
#spot_tag button,
#rest_tag button,
#menu_tag button {
    background-color: #4CAF50; /* 배경색 */
    color: white; /* 텍스트색 */
    border: none; /* 테두리 없음 */
    padding: 8px 8px; /* 내부 여백 */
    text-align: center; /* 텍스트 중앙 정렬 */
    text-decoration: none; /* 텍스트에 밑줄 없음 */
    display: inline-block; /* 인라인 요소로 표시 */
    font-size: 14px; /* 폰트 크기 */
    margin: 4px 2px; /* 마진 설정 */
    cursor: pointer; /* 커서 스타일 설정 */
    border-radius: 10px; /* 둥근 테두리 */
}
/* 호버 효과 */
#spot_tag button:hover,
#rest_tag button:hover,
#menu_tag button:hover {
    background-color: #45a049; /* 호버 시 배경색 변경 */
}   

</style>
</head>
<body>


{{#errorMessage}}
<div class="error-message">
    {{errorMessage}}
    <button type="button" class="btn-close m-1" data-bs-dismiss="alert"
            aria-label="Close"></button>
</div>
{{/errorMessage}}

    <form method="post" action="/create">
        <div class="search container">
            <section id="Search" class="Search-intro">
                <div class="Area Select">
                    <select id="Area_Spot" name="area" class="dropdown-product selectpicker">
                        <option value="전체">전체</option>
                        <option value="서울">서울</option>
                        <option value="인천">인천</option>
                        <option value="대전">대전</option>
                        <option value="대구">대구</option>
                        <option value="광주">광주</option>
                        <option value="부산">부산</option>
                        <option value="울산">울산</option>
                        <option value="세종시">세종시</option>
                        <option value="경기">경기</option>
                        <option value="강원">강원</option>
                        <option value="충북">충북</option>
                        <option value="충남">충남</option>
                        <option value="경북">경북</option>
                        <option value="경남">경남</option>
                        <option value="전북">전북</option>
                        <option value="전남">전남</option>
                        <option value="제주">제주</option>
                    </select>
                </div>
                <div class="col-md-9 col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" id="searchArea" name="question" placeholder="어떤 곳을 찾고 있나요?">
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <button type="submit" class="btn btn-primary" >제출</button>
                </div>
            </section>
        </div>
    </form>




