<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 검색바 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Bootstrap search box or search panel like amazon.com"/>
    <meta name="robots" content="index, follow"/>
    <meta name="author" content="Satyendra Kumar Singh"/>


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- 구글 폰트 api -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

    <title>DP Travel</title>

    

<!-- Costom CSS -->
    <style>
body {
            background-color: #FFDFDE;          
        }

* {
    font-family: 'Noto Sans KR', sans-serif;
    color: #6A7BA2;
}

.btn-outline-success {
    min-width: 100px;
    color: #6c757d;
    border-color: #6c757d;
}

.btn-outline-success:hover {
    background-color: #000000;
    border-color: #04B45F;
    color: white;
}

.btn-outline-success.button {
    min-width: 100px;
    border-color: #6A7BA2;
    background-color: #6A7BA2;
}

.no-underline {
    text-decoration: none;
}

.bold-text {
    font-weight: bold;
}

    
.error-message {
    text-align: center; /* 텍스트 가운데 정렬 */
    margin: 20px; /* 상하좌우 여백 조절 */
    padding: 10px; /* 내부 여백 조절 */
    border: 1px solid #ff0000; /* 테두리 스타일 및 색상 설정 */
    background-color: #ffeeee; /* 배경색 설정 */
    font-size: 20px;
}

/* 검색바 css */
.Tag.Container {
    text-align: center;
}

.Tag.Container button {
    margin: 5px; /* 여백을 조절하려면 이 값을 조정하세요. */
    display: inline-block;
}

.container {
    margin-top: 2%;
}

  /* Style to create scroll bar in dropdown */ 
  .scrollable-dropdown{
      height: auto;
      max-height:320px;  /* Increase / Decrease value as per your need */
      overflow-x: hidden;
  }
h3 {
	font-size: 1.3rem;
	padding: 0;
	margin: 5px 0 15px 0;
	color: darkred;
    text-align: center; /* 텍스트 가운데 정렬 추가 */
}

#Search .form-group {
    display: flex;
    align-items: center;
}

#Search .form-group select,
#Search .form-group input,
#Search .form-group button {
    height: 40px; /* 원하는 높이로 조정 */
    margin: 0px; /* 원하는 여백으로 조정 */
}

#Search .form-group select {
    flex: 1; /* 남은 공간을 균등하게 나눠가짐 */
}

#Search .form-group input {
    flex: 3; /* 남은 공간을 균등하게 나눠가짐 */
}

p {
	padding: 0;
	margin: 0;
	font-size: 1rem;
	line-height: 1.5rem;
	color: graytext;
}
.swiper-container {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}

.swiper-slide {
	width: 400px;
	height: 500px;
	padding: 5px;
}



/* 그리드 컨테이너 스타일 */
.tiles {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

/* 각 article 요소의 스타일 */
.article {
    border: 3px solid #6A7BA2;
    padding: 10px;
    text-align: center;
    max-width: 200px; /* 각 article이 차지할 수 있는 최대 폭 지정 */
    margin: 0 auto; /* 가운데 정렬을 위해 좌우 마진을 auto로 설정 */
}    

/* 각 이미지의 스타일 */

.image img {
    width: 90%;
    height: auto;
    border-radius: 50%;
    display: block; /* 가운데 정렬을 위해 블록 요소로 설정 */
    margin: 0 auto; /* 가운데 정렬을 위해 좌우 마진을 auto로 설정 */
    transition: opacity 0.5s; /* 투명도 전환 효과를 부드럽게 적용 */
}


/* hover 효과 추가 */
.image:hover img {
    opacity: 0.3; /* 마우스 오버 시 투명도 조절 */
}

.logo {
    margin-top: 3%;
    text-align: center;
}

.logo img {
    max-width: 100%; /* 이미지가 부모 요소의 크기를 넘지 않도록 설정 */
    height: auto; /* 가로 세로 비율을 유지하면서 크기 조절 */
}

</style>

</head>
<body>

<div class="logo">                  
    <img src="logo.png" alt="" />
</div>

{{#errorMessage}}
<div class="error-message">
    {{errorMessage}}
    <button type="button" class="btn-close m-1" data-bs-dismiss="alert"
            aria-label="Close"></button>
</div>
{{/errorMessage}}

    <form method="post" action="/create">
        <div class="search container">
            <section id="Search" class="Search-intro">            
                    <div class="form-group" style="display: flex;">
                    <div class="Area Select">
                    <select id="Area_Spot" name="area" class="dropdown-product selectpicker">
                        <option value="전체">전체</option>
                        <option value="서울">서울</option>
                        <option value="인천">인천</option>
                        <option value="대전">대전</option>
                        <option value="대구">대구</option>
                        <option value="광주">광주</option>
                        <option value="부산">부산</option>
                        <option value="울산">울산</option>
                        <option value="세종시">세종시</option>
                        <option value="경기">경기</option>
                        <option value="강원">강원</option>
                        <option value="충북">충북</option>
                        <option value="충남">충남</option>
                        <option value="경북">경북</option>
                        <option value="경남">경남</option>
                        <option value="전북">전북</option>
                        <option value="전남">전남</option>
                        <option value="제주">제주</option>
                    </select>
                </div>   
                        <input type="text" class="form-control" id="searchArea" name="question" placeholder="어떤 곳을 찾고 있나요?">                                    
                    <button type="submit" class="btn btn-primary" >검색</button>
                    </div>                
            </section>
        </div>
    </form>