{{>layouts/header}}
    <form method="post" action="create">
        <div class="search container">
            <section id="Search" class="Search-intro">
                <div class="Area Select">
                    <select id="Area_Spot" name="area" class="dropdown-product selectpicker">
                        <option value="">지역</option>
                        <option value="서울">서울</option>
                        <option value="인천">인천</option>
                        <option value="대전">대전</option>
                        <option value="대구">대구</option>
                        <option value="광주">광주</option>
                        <option value="부산">부산</option>
                        <option value="울산">울산</option>                             
                        <option value="세종시">세종시</option>
                        <option value="경기">경기</option>
                        <option value="강원">강원</option>
                        <option value="충북">충북</option>
                        <option value="충남">충남</option>
                        <option value="경북">경북</option>
                        <option value="경남">경남</option>
                        <option value="전북">전북</option>
                        <option value="전남">전남</option>
                        <option value="제주">제주</option>  
                    </select>
                </div>
                <div class="col-md-9 col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" id="searchArea" name="question" placeholder="어떤 곳을 찾고 있나요?">
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <button type="submit" class="btn btn-primary" >제출</button>
                </div>
            </section>
        </div>
        <div class = "Result">
            <section id="Result" class="Result-info">
                <div class="AreaTableContainer">
                    <table class="AreaTable">
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Area</th>
                                <th scope="col">OverView</th>
                                <th scope="col">Detail</th>
                                <th scope="col">Lat</th>
                                <th scope="col">Lon</th>
                                <th scope="col">Similarity</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#articles}}
                            <tr>
                                <th>{{Title}}</th>
                                <th>{{Area}}</th>
                                <th>{{OverView}}</th>
                                <th>{{Detail}}</th>
                                <th>{{Lat}}</th>
                                <th>{{Lon}}</th>
                                <th>{{Similarity}}</th>
                            </tr>
                            {{/articles}}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
</form>
<!-- 구글 지도 API -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", {
      "packages":["map"],
      <!-- Note: 아래 키에 구글 맵에서 발급받은 API key를 입력해야 합니다. -->
      <!-- 참고: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings -->
      "mapsApiKey": "AIzaSyB4W5ZK4DTY0KlG6e7-gVAQdWY0yGdoseQ"
    });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Lat', 'Long', 'Name'],
        [33.5070537, 126.492776, '제주국제공항'],
        [33.5162323, 126.5120637, '용두암']
      ]);

      var map = new google.visualization.Map(document.getElementById('map_div'));
      map.draw(data, {
        showTooltip: true,
        showInfoWindow: true
      });
    }

  </script>
</head>

<body>
  <!-- 필수:
    이 부분에서 width와 height를 반드시 CSS 형식에 따라 지정해야 합니다.
    비어있는 div 요소는 기본값이 0인 높이를 가지기 때문에
    구글 지도가 화면 상에 나타나지 않을 겁니다.
  -->
  <div id="map_div" style="width: 1200px; height: 675px"></div>
</body>
    
{{>layouts/footer}}