{{>layouts/header}}

<form method="post" action="create">
    <div class="Result">
        <section id="Result" class="Result-info">
            <div class="AreaTableContainer">
                <table class="AreaTable">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        {{#articles}}
                        <th scope="col">{{Title}}</th>
                        {{/articles}}
                    </tr>
                    <tr>
                        <th scope="col"></th>
                        {{#articles}}
                        <th scope="col">{{Area}}</th>
                        {{/articles}}
                    </tr>
                    <tr>
                        <th scope="col"></th>
                        {{#articles}}
                        <th scope="col">{{OverView}}</th>
                        {{/articles}}
                    </tr>
                    <tr>
                        <th scope="col"></th>
                        {{#articles}}
                        <th scope="col">{{Detail}}</th>
                        {{/articles}}
                    </tr>
                    </thead>
                </table>
            </div>
        </section>
    </div>
</form>

<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

<script>
    <section id="Result" class="Result-info">
        {{#articles}}
    var title = articles[0]
    var area = articles[1]
    var overView = articles[2]
    var detail = articles[3]
    {{/articles}}
    </section>
</script>
    
{{>layouts/footer}}