{{>layouts/header}}

<form id="imageForm" method="post" action="/mainImg">
    <input type="hidden" id="imageText" name="imageText">
</form>

<section class="tiles">
    <div class="row">
        <article class="style1">
            <span class="image">
                <img src="mun.jpg" alt="" />
            </span>
            <h3>문화 체험</h3>
        </article>
        <article class="style2">
            <span class="image">
                <img src="night.jpg" alt="" />
            </span>
            <h3>야경 좋은 곳</h3>
        </article>
    </div>
    <div class="row">
        <article class="style3">
            <span class="image">
                <img src="rest.jpg" alt="" />
            </span>
            <h3>휴식하기 좋은 곳</h3>
        </article>
        <article class="style4">
            <span class="image">
                <img src="walk.jpg" alt="" />
            </span>
            <h3>산책하기 좋은 곳</h3>
        </article>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var articles = document.querySelectorAll('.tiles .row article');

        articles.forEach(function(article) {
            article.addEventListener('click', function() {
                var imageText = this.querySelector('h3').innerText;

                // 이미지 정보를 form에 추가
                document.getElementById('imageText').value = imageText;

                // form을 서버로 전송
                document.getElementById('imageForm').submit();
            });
        });
    });
</script>

{{>layouts/footer}}