<!-- travel/radio.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Travel Radio Page</title>
</head>

<body>

    <h2>Travel List with Radio Buttons</h2>

    <!-- Create radio buttons -->
    <form th:each="travel : ${travelList}" th:object="${travel}" method="post" action="/submit">

        <!-- Display travel information -->
        <!-- <p th:text="${travel.location + ' (' + travel.radioOption + ')'}"></p> -->
        <p>
            <span th:text="${travel.location}"></span>
            <span th:if="${travel.radioOption != null}">
                (<span th:text="${travel.radioOption}"></span>)
            </span>
        </p>
        <!-- Create radio buttons -->
        <label>
            <input type="radio" th:name="${'radioOption'}" th:value="${'Option1'}"/>
            Option1
        </label>
        <label>
            <input type="radio" th:name="${'radioOption'}" th:value="${'Option2'}"/>
            Option2
        </label>
        <label>
            <input type="radio" th:name="${'radioOption'}" th:value="${'Option3'}"/>
            Option3
        </label>

        <!-- Add a line break between each travel entity -->
        <hr/>
    </form>


</body>

</html>