{{>layouts/header}}


<div class="title-info-header">
    <p class="info-header">여행지 1~10위 ▼</p>
</div>


<div class="destination-grid">
    {{#top10_1}}
    <div class="grid-item">
        <div class="swiper-head" style="background: url({{spotImgPath}});
        background-size: cover;
        background-position: center;">
        </div>
        <a href="/search/{{spotId}}" class="slide-link">
            <h2 style="font-size: 25px;">01. {{spotTitle}}</h2>
            <h3 style="font-size: 18px">{{spotCatchTitle}}</h3>
            <div class="addr">
                <p>{{spotAddr}}</p>
            </div>
            <div class = "Usetime" style = "margin">
                <p style="text-align: left; font-size: 15px"">
                <p>{{spotUseTime}}</p>
            </div>
        </a>
    </div>
    {{/top10_1}}

    {{#top10_2}}
    <div class="grid-item">
        <div class="swiper-head" style="background: url({{spotImgPath}});
        background-size: cover;
        background-position: center;">
        </div>
        <a href="/search/{{spotId}}" class="slide-link">
            <h2 style="font-size: 25px;">02. {{spotTitle}}</h2>
            <h3 style="font-size: 18px">{{spotCatchTitle}}</h3>
            <div class="addr">                
                <p>{{spotAddr}}</p>
            </div>  
            <div class = "Usetime" style = "margin">
                <p style="text-align: left; font-size: 15px"">
                <p>{{spotUseTime}}</p>
            </div>          
        </a>
    </div>
    {{/top10_2}}

    {{#top10_3}}
    <div class="grid-item">
        <div class="swiper-head" style="background: url({{spotImgPath}});
        background-size: cover;
        background-position: center;">
        </div>
        <a href="/search/{{spotId}}" class="slide-link">
            <h2 style="font-size: 25px;">03. {{spotTitle}}</h2>
            <h3 style="font-size: 18px">{{spotCatchTitle}}</h3>
            <div class="addr">
                <p>{{spotAddr}}</p>
            </div>
            <div class = "Usetime" style = "margin">
                <p style="text-align: left; font-size: 15px"">
                <p>{{spotUseTime}}</p>
            </div>
        </a>
    </div>
    {{/top10_3}}

    {{#top10_4}}
    <div class="grid-item">
        <div class="swiper-head" style="background: url({{spotImgPath}});
        background-size: cover;
        background-position: center;">
        </div>
        <a href="/search/{{spotId}}" class="slide-link">
            <h2 style="font-size: 25px;">04. {{spotTitle}}</h2>
            <h3 style="font-size: 18px">{{spotCatchTitle}}</h3>
            <div class="addr">                
                <p>{{spotAddr}}</p>
            </div>
            <div class = "Usetime" style = "margin">
                <p style="text-align: left; font-size: 15px"">
                <p>{{spotUseTime}}</p>
            </div>
        </a>
    </div>
    {{/top10_4}}

    {{#top10_5}}
    <div class="grid-item">
        <div class="swiper-head" style="background: url({{spotImgPath}});
        background-size: cover;
        background-position: center;">
        </div>
        <a href="/search/{{spotId}}" class="slide-link">
            <h2 style="font-size: 25px;">05. {{spotTitle}}</h2>
            <h3 style="font-size: 18px">{{spotCatchTitle}}</h3>
            <div class="addr">
                <p>{{spotAddr}}</p>
            </div>
            <div class = "Usetime" style = "margin">
                <p style="text-align: left; font-size: 15px"">
                <p>{{spotUseTime}}</p>
            </div>
        </a>
    </div>
    {{/top10_5}}

    {{#top10_6}}
    <div class="grid-item">
        <div class="swiper-head" style="background: url({{spotImgPath}});
        background-size: cover;
        background-position: center;">
        </div>
        <a href="/search/{{spotId}}" class="slide-link">
            <h2 style="font-size: 25px;">06. {{spotTitle}}</h2>
            <h3 style="font-size: 18px">{{spotCatchTitle}}</h3>
            <div class="addr">
                <p>{{spotAddr}}</p>
            </div>
            <div class = "Usetime" style = "margin">
                <p style="text-align: left; font-size: 15px"">
                <p>{{spotUseTime}}</p>
            </div>
        </a>
    </div>
    {{/top10_6}}

    {{#top10_7}}
    <div class="grid-item">
        <div class="swiper-head" style="background: url({{spotImgPath}});
        background-size: cover;
        background-position: center;">
        </div>
        <a href="/search/{{spotId}}" class="slide-link">
            <h2 style="font-size: 25px;">07. {{spotTitle}}</h2>
            <h3 style="font-size: 18px">{{spotCatchTitle}}</h3>
            <div class="addr">
                <p>{{spotAddr}}</p>
            </div>
            <div class = "Usetime" style = "margin">
                <p style="text-align: left; font-size: 15px"">
                <p>{{spotUseTime}}</p>
            </div>
        </a>
    </div>
    {{/top10_7}}

    {{#top10_8}}
    <div class="grid-item">
        <div class="swiper-head" style="background: url({{spotImgPath}});
        background-size: cover;
        background-position: center;">
        </div>
        <a href="/search/{{spotId}}" class="slide-link">
            <h2 style="font-size: 25px;">08. {{spotTitle}}</h2>
            <h3 style="font-size: 18px">{{spotCatchTitle}}</h3>
            <div class="addr">
                <p>{{spotAddr}}</p>
            </div>
            <div class = "Usetime" style = "margin">
                <p style="text-align: left; font-size: 15px"">
                <p>{{spotUseTime}}</p>
            </div>
        </a>
    </div>
    {{/top10_8}}

    {{#top10_9}}
    <div class="grid-item">
        <div class="swiper-head" style="background: url({{spotImgPath}});
        background-size: cover;
        background-position: center;">
        </div>
        <a href="/search/{{spotId}}" class="slide-link">
            <h2 style="font-size: 25px;">09. {{spotTitle}}</h2>
            <h3 style="font-size: 18px">{{spotCatchTitle}}</h3>
            <div class="addr">
                <p>{{spotAddr}}</p>
            </div>
            <div class = "Usetime" style = "margin">
                <p style="text-align: left; font-size: 15px"">
                <p>{{spotUseTime}}</p>
            </div>
        </a>
    </div>
    {{/top10_9}}

    {{#top10_10}}
    <div class="grid-item">
        <div class="swiper-head" style="background: url({{spotImgPath}});
        background-size: cover;
        background-position: center;">
        </div>
        <a href="/search/{{spotId}}" class="slide-link">
            <h2 style="font-size: 25px;">10. {{spotTitle}}</h2>
            <h3 style="font-size: 18px">{{spotCatchTitle}}</h3>
            <div class="addr">
                <p>{{spotAddr}}</p>
            </div>
            <div class = "Usetime" style = "margin">
                <p style="text-align: left; font-size: 15px"">
                <p>{{spotUseTime}}</p>
            </div>
        </a>
    </div>
    {{/top10_10}}
    
</div>
